    <div class="fixed bottom-0 right-0 z-10 hidden p-6 sm:block">
      <div class="transition duration-150 transform translate-y-8 opacity-0 close-all ease-smooth">
        <button
                class="relative block px-4 py-2 text-xs transition-colors bg-white rounded-sm shadow-sm hocus:bg-grey-100 smooth-transition focus:shadow-outline">
          Close All
          <div class="shadow-border"></div>
        </button>
      </div>
    </div>