<header id="header" class="top-0 right-0 p-6 sm:absolute">

	<ul class="flex justify-center align-center">

		{% for icon, link in site.social_links %}

		<li class="ml-3 first:ml-0">

			<a href="{{ link | safe }}"
				 class="block rounded-sm text-grey-200 hocus:text-grey-600 focus:outline-none focus:shadow-outline"
				 aria-label="{{ icon | capitalize }}"
				 target="_blank" rel="noopener">

				<svg class="block w-8 h-8" fill="currentColor" role="img" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink"
							 xlink:href="/images/icons/icon-library.svg#icon-{{ icon }}"></use>
				</svg>

			</a>

		</li>

		{% endfor %}

	</ul>

</header>