<footer class="top-0 right-0 p-6 sm:absolute">

	<ul class="flex justify-center align-center">

		{% for item in site.social_links %}

		<li class="ml-3 first:ml-0">

			<a href="{{ item.link | safe }}"
				 class="block rounded-sm btn circle text-{{item.color}}-100 group focus:outline-none"
				 aria-label="{{ item.title | capitalize }}"
				 target="_blank" rel="noopener"
				 title="Go to Stephen's profile on {{item.title | capitalize}}">

				<svg class="block w-8 h-8 text-grey-300 group-hocus:text-{{item.color}}-500" fill="currentColor" role="img"
						 aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink"
							 xlink:href="/images/icons/icon-library.svg#icon-{{ item.title }}"></use>
				</svg>

			</a>

		</li>

		{% endfor %}

	</ul>

</footer>