   <template id="lightbox-template">

     <div class="fixed inset-0 z-10 flex items-center justify-center p-1 transition-opacity duration-500 opacity-0 ease-smooth"
          id="lightbox-container">
       <div
            class="absolute flex flex-col max-h-full p-2">
         <img class="object-contain w-full max-w-5xl cursor-zoom-out" style="max-height: 90vh" src="null"
              alt="" id="lightbox"
              data-flip-key="lightbox">
       </div>
       <button
               class="fixed inset-0 w-full h-full opacity-75 cursor-zoom-out -z-1 bg-always-dark"
               id="lightbox-overlay">
       </button>
     </div>
   </template>