   {% import "components/project-preview.njk" as preview %}

   <div class="fixed z-10 items-center justify-center p-1 pointer-events-none preview-container">
     {{ preview.projectPreviewFrame( posts ) }}
   </div>