{% macro windowFrame(title, color, inverted, data) %}

<div class="relative overflow-hidden flex flex-col rounded shadow-lg pointer-events-auto bg-white window-wrapper sm:absolute draggable
{% if title != "sdf" %}
closed
{% endif %}
" id="{{title}}Window">
    <div class="draggable-handle">
        <div class="h-2 bg-{{color}}-500">
        </div>
        <div class="relative flex justify-center px-4 py-5 xs:py-3 bg-{{color}}-100">
            <div class="absolute inset-y-0 left-0 flex items-center mx-4">
                <button
                        class="relative flex p-1 -m-1 transition-colors duration-300 rounded-sm window-close ease-smooth">
                    <span class="sr-only">Close Window</span>
                    <div class="w-4 h-4 bg-red-500 border rounded-full
                        {% if inverted %}
                            border-{{color}}-800
                        {% else %}
                             border-{{color}}-100
                        {% endif %}
                    ">
                    </div>
                    <div class="w-4 h-4 ml-2 bg-yellow-500 border border-{{color}}-100 rounded-full
                        {% if inverted %}
                            border-{{color}}-800
                        {% else %}
                             border-{{color}}-100
                        {% endif %}
                    ">
                    </div>
                    <div class="w-4 h-4 ml-2 bg-green-500 border border-{{color}}-100 rounded-full
                        {% if inverted %}
                            border-{{color}}-800
                        {% else %}
                             border-{{color}}-100
                        {% endif %}
                    ">
                    </div>
                </button>
            </div>
            <h2 class="hidden text-xl leading-none serif xs:block text-black-900 ">{{ title | capitalize }}</h2>
        </div>
    </div>
    <div class="flex flex-col flex-1 overflow-hidden">
        {% block content %}
        {# window content goes here #}
        {% endblock %}
    </div>
    <div class="shadow-border"></div>

</div>

{% endmacro %}