//==========  Import all base partials ==========//

*:focus,
button:focus {
  @apply outline-none shadow-outline;
}


.smooth-transition {
  @apply duration-700 ease-smooth;

  &:hover {
    @apply duration-300;
  }

  &::before,
  &::after {
    transition: inherit;
  }
}

.border-shadow {
  @apply absolute inset-0 pointer-events-none shadow-inset;
  border-radius: inherit;
}

// @import 'utilities';
@import 'links';
@import 'typography';