.journal {
  &.visible {
    display: block;
  }
}

.journal-link {
  &.active > div {
    @apply bg-yellow-100;
    h4 {
      @apply text-grey-900;
    }
  }
}

#journal-sidebar {
  &.open {
    transform: none;

    & + * .note-area {
      overflow: hidden;
      flex-grow: 1;
    }
  }

  @screen sm {
    transform: none;
  }
}

#journal-close {
  &.open {
    visibility: visible;
  }
}

.window-wrapper.closed {
  .journal {
    display: none;
  }
}
