.about-note {
  &.visible {
    display: block;
  }
}

.about-note-link {
  &.active {
    @apply bg-white;

    h4 {
      @apply font-medium;
    }
  }
}

#about-note-sidebar {
  &.open {
    transform: none;

    &+* .note-area {
      overflow: hidden;
      flex-grow: 1;
    }
  }

  @screen sm {
    transform: none;
  }
}

#about-note-close {

  &.open {
    visibility: visible;
  }
}

.window-wrapper.closed {
  .about-note {
    display: none;
  }
}