.markdown {
  *+* {
    @apply mt-4;
  }


  code {
    font-size: .875em;
    @apply relative text-grey-800 p-1 whitespace-pre;


    &::before {
      content: '';
      @apply shadow-inset absolute inset-0 rounded-sm bg-grey-100;
      z-index: -1;
    }
  }

  pre {
    @apply bg-grey-100 shadow-inset rounded-sm py-2 px-4;
    font-size: 14px;

    code {
      @apply p-0 border-transparent;
      font-size: inherit;

    }
  }

  strong,
  b {
    @apply font-medium;
  }

  a {
    @apply relative text-blue-700 rounded-sm inline-block;
    @extend .btn;

    & * {
      @apply text-blue-700;
    }


    @apply underline;

    &::before {
      content: '';
      @apply absolute rounded-sm bg-blue-100 opacity-0 duration-200 ease-smooth transition-opacity;
      top: -.125rem;
      bottom: -.125rem;
      left: -.25rem;
      right: -.25rem;
      z-index: -1;
    }

    &:hover,
    &:focus {

      // &::before {
      //   @apply opacity-100;
      // }

      & code::before {
        @apply bg-transparent;
      }

    }
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    li {
      @apply relative;

      &::before {
        content: "";
        @apply absolute bg-yellow-500 h-1-5 w-1-5 rounded-full;
        top: .75em;
        left: -1.25rem;
        transform: translateY(-25%);
      }
    }
  }

  ul,
  ol {
    @apply ml-10;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    @apply ml-5;
  }

  li p:last-child {
    @apply mb-8;
  }

  li:last-child {
    @apply mb-8;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply text-black leading-tight font-medium;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }



  *+h3,
  *+h4 {
    @apply mt-12;
  }

  *+h5,
  *+h6 {
    @apply mt-8;
  }

  img {
    @apply my-8;
  }

  hr {
    @apply my-12 text-grey-300;
  }

  blockquote {
    @apply my-8 font-serif text-2xl border-l-4 leading-loose border-yellow-500 pl-4 max-w-sm;
  }
}