.markdown {
  *+* {
    @apply mt-4;
  }


  code {
    font-size: .875em;
    @apply relative;
    @apply text-grey-800;
    @apply p-1;


    &::before {
      content: '';
      @apply border;
      @apply border-grey-300;
      @apply absolute;
      @apply inset-0;
      @apply rounded-sm;
      @apply bg-grey-100;
      z-index: -1;
    }
  }

  pre {
    @apply bg-grey-100;
    @apply border-grey-300;
    @apply border;
    @apply rounded-sm;
    @apply py-2;
    @apply px-4;
    font-size: 14px;

    code {
      @apply p-0;
      font-size: inherit;
      @apply border-transparent;

    }
  }

  strong,
  b {
    @apply font-medium;
  }

  a {
    @apply relative;
    @apply text-blue-700;
    @apply inline-block;

    & * {
      @apply text-blue-700;
    }


    @apply underline;

    &::before {
      content: '';
      @apply absolute;
      top: -.125rem;
      bottom: -.125rem;
      left: -.25rem;
      right: -.25rem;
      @apply rounded-sm;
      @apply bg-blue-100;
      @apply opacity-0;
      z-index: -1;
    }

    &:hover,
    &:focus {

      &::before {
        @apply opacity-100;
      }

      & code::before {
        @apply bg-transparent;
      }

    }

    &:focus {
      @apply outline-none;
      @apply shadow-outline;
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    li {
      @apply relative;

      &::before {
        content: "";
        @apply absolute;
        @apply bg-yellow-500;
        @apply h-1-5;
        @apply w-1-5;
        @apply rounded-full;
        top: .75em;
        left: -1.25rem;
        transform: translateY(-25%);
      }
    }
  }

  ul,
  ol {
    @apply ml-10;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    @apply ml-5;
  }

  li p:last-child {
    @apply mb-8;
  }

  li:last-child {
    @apply mb-8;
  }

  h3,
  h4,
  h5,
  h6 {
    // @apply font-serif;
    @apply text-black;
    @apply leading-tight;
    @apply font-medium;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-lg;
  }



  *+h3,
  *+h4 {
    @apply mt-12;
  }

  *+h5,
  *+h6 {
    @apply mt-8;
  }

  // h3+h4,
  // h3+h5,
  // h3+h6,
  // h4+h3,
  // h4+h5,
  // h4+h6,
  // h5+h3,
  // h5+h4,
  // h5+h6,
  // h6+h3,
  // h6+h4,
  // h6+h5 {
  //   @apply mt-6;
  // }

  img {
    @apply my-8;
  }

  hr {
    @apply my-12;
    @apply text-grey-300;
  }

  blockquote {
    @apply my-8;
    @apply font-serif;
    @apply text-2xl;
    @apply border-l-4;
    @apply leading-loose;
    @apply border-yellow-500;
    @apply pl-4;
    @apply max-w-sm;
  }
}