.preview-container {
  display: grid;

  &>* {
    grid-column: -1/1;
    grid-row: -1/1;
  }

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;

  width: 100vh;
  height: 100vh;
}

.project-grid {
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.portfolio-link {
  &::before {
    @apply rounded;
  }
}

.project-preview {
  @apply duration-500;

  &+.preview-overlay {
    @apply duration-500;
  }

  &.closed {
    @apply invisible scale-75 opacity-0 translate-y-2 duration-300;

    &+.preview-overlay {
      @apply opacity-0 duration-300 pointer-events-none;
    }
  }
}