.preview-container {
  display: grid;

  &>* {
    grid-column: -1/1;
    grid-row: -1/1;
  }

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;

  width: 100vw;
  height: 100vh;
}

.project-grid-wrapper {
  @screen sm {
    max-height: var(--inner-height);
  }
}

.project-grid {
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));

  @screen xs {
    grid-template-columns: repeat(2, minmax(10rem, 12rem));
  }

  @screen sm {
    grid-template-columns: repeat(3, minmax(10rem, 12rem));
  }
}

.portfolio-link {
  &::before {
    @apply rounded;
  }
}

.project-preview {
  @apply duration-500;
  transition-delay: 150ms;


  &+.preview-overlay {
    @apply duration-500;
    transition-delay: 0ms;

  }

  &.closed {
    @apply invisible opacity-0 translate-y-2 duration-300;
    transition-delay: 0ms;


    &+.preview-overlay {
      @apply opacity-0 duration-300 pointer-events-none;
      transition-delay: 150ms;

    }
  }
}