#meWindow {
  --width: 22rem;
  width: var(--width);

  @screen sm {
    left: calc(100% - var(--width) - 6rem);
    top: 1rem;
  }
}

#musicWindow {
  width: 32rem;

  @screen sm {
    bottom: 2rem;
    top: unset;
    left: 12%;
  }
}

#aboutWindow {
  @screen xs {
    --width: 50rem;
    width: var(--width);
    height: 34rem;
  }

  @screen sm {
    left: calc(100% - var(--width) - 1rem);
    top: 15%;
  }
}

#contactWindow {
  width: 100%;
  height: 100%;

  @screen xs {
    --width: 20rem;
    width: var(--width);
    height: 37rem;
  }

  @screen sm {
    left: calc(65% - var(--width) - 1rem);
    top: 20%;
  }
}

#portfolioWindow {
  --width: 54rem;
  width: var(--width);

  @screen sm {
    left: 0.5rem;
    top: 4rem;
  }
}

.windows-container {
  display: grid;

  &>* {
    grid-column: -1/1;
    grid-row: -1/1;
  }

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;

  width: 1440px;
  max-height: 900px;
  max-width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.window-wrapper {
  touch-action: none;
  max-width: calc(100vw - 0.5rem);
  max-height: calc(var(--windowHeight) - 0.5rem);
  @apply transition duration-150 ease-smooth;

  &.closed {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }

  &.disabled {
    @apply shadow-md;

    & * {
      pointer-events: none;
    }

    & .draggable-handle {
      pointer-events: all;
    }

    & .window-close {
      pointer-events: all;

      >div {
        @apply bg-grey-300 transition-colors duration-150 ease-smooth;
      }

      &:hover div,
      &:focus div {
        &:nth-child(2) {
          @apply bg-red-500;
        }

        &:nth-child(3) {
          @apply bg-yellow-500;
        }

        &:nth-child(4) {
          @apply bg-green-500;
        }
      }
    }
  }
}

.window-bg {
  background: white;

  &.inverted {
    @apply bg-grey-900;
  }

  @supports (backdrop-filter: saturate(100%)) {
    backdrop-filter: saturate(250%) blur(25px);
    background: rgba(255, 255, 255, .97);

    &.inverted {
      background: rgba(5, 5, 12, .87);
      @apply text-grey-100;
    }
  }
}

.window-close {
  &::after {
    content: "";
    position: absolute;
    @apply inset-0;
    background-image: url(/images/icons/window-lights-overlay.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    pointer-events: none;
    transition: inherit;
    transition-property: opacity;
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
    }
  }
}

.draggable-handle {
  touch-action: none;
  user-select: none;
}

.storage {
  @apply bg-green-500;
  @apply bg-green-100;
  @apply bg-green-700;
  @apply bg-green-800;
  @apply bg-red-100;
  @apply bg-red-500;
  @apply bg-red-700;
  @apply bg-red-800;
  @apply bg-yellow-100;
  @apply bg-yellow-500;
  @apply bg-yellow-700;
  @apply bg-yellow-800;
  @apply bg-purple-100;
  @apply bg-purple-500;
  @apply bg-purple-700;
  @apply bg-purple-800;
  @apply bg-blue-100;
  @apply bg-blue-500;
  @apply bg-blue-700;
  @apply bg-blue-800;
  @apply border-red-100;
  @apply border-red-800;
  @apply border-green-100;
  @apply border-green-800;
  @apply border-purple-100;
  @apply border-purple-800;
  @apply border-blue-100;
  @apply border-blue-800;
  @apply border-yellow-100;
  @apply border-yellow-800;
}