{% extends "layouts/default.njk" %}
{% import "applets/photosApplet.njk" as "photosApplet" with context %}
{% import "applets/designApplet.njk" as "designApplet" with context %}
{% import "applets/postsApplet.njk" as "postsApplet" with context %}
{% block title %}Stephen Barkan{% endblock %}


{% block content %}
      <div class="relative flex justify-center flex-1 w-full row-start-2 gap-3 py-2 overflow-auto page-container">
        <div class="absolute inset-0 grid p-2 grid-absolute">
            <div class="pt-[3vh] pl-[4.4vw] grid-inset-0">{{designApplet.applet(title='design', maxWidth='max-w-[780px]', height='xs:h-[350px]', data=collections.designs)}}</div>
            <div class="self-end pb-[2vh] pr-[3.3vw] grid-inset-0 justify-self-end">{{photosApplet.applet(title='photos', maxWidth='max-w-[335px]', height='xs:h-[495px]', data=photos)}}</div>
            <div class="flex self-center justify-center w-full grid-inset-0 justify-self-center">{{postsApplet.applet(title='posts', maxWidth='max-w-[740px]', height='xs:h-[460px]', data=collections.posts)}}</div>
        </div>
      </div>
{% endblock %}
