{% extends "layouts/default.njk" %}
{% import "applets/postsApplet.njk" as "postsApplet" %}
{% block title %}Stephen Barkan{% endblock %}


{% block content %}
  <main class="flex flex-col w-full h-full">
    {% include "components/topbar.njk" %}
      <div class="flex items-center justify-center flex-1 w-full p-2 space-x-3">
        {{postsApplet.applet(title='posts', maxWidth='max-w-[740px]', height='h-[460px]', data=collections.posts)}}
      </div>
  </main>
{% endblock %}
