//==========  Imports  ==========//

/* purgecss start ignore */
@tailwind base;

@import "base/all";

// Import Tailwind components
@tailwind components;

@import "base/global";
@import "base/links";
@import "base/windows";
@import "base/ig-stuff";
@import "base/music-stuff";
@import "base/portfolio-stuff";
@import "base/notes-stuff";
@import "base/markdown";
@import "base/contact-animations";
@import "base/contact";

/* purgecss end ignore */

// Import Tailwind utilities
// TailwindCSS recommends leaving utilities till last to ensure they aren't overwritten.
@tailwind utilities;

.grid-absolute {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.grid-inset-0 {
  grid-column: 1/-1;
  grid-row: 1/-1;
}