---
layout: default
meta_title: Home
meta_description: The Personal Site of Stephen barkan
body_class: home
title: Home
---
{% set ig_images = ig_images %}
{% set posts = collections.blog %}
{% set notes = collections.note %}
{% set songs = playlist %}
{% import "windows/window-me.njk" as me %}
{% import "windows/window-music.njk" as music %}
{% import "windows/window-about.njk" as about %}
{% import "windows/window-portfolio.njk" as portfolio %}
{% import "windows/window-contact.njk" as contact %}

<main id="main" class="relative flex flex-col items-center justify-between w-full min-h-full sm:justify-center">
    {# text content #}
    <div class="flex flex-col items-center px-6 py-16 text-4xl leading-tight xs:text-5xl sm:text-6xl serif">
        <h1 class="max-w-headline">
            This is the personal site of
            <a id="me" href="#" class="no-underline group focus:outline-none">
                <span class="text-red-100 btn large"><span class="text-red-500">Stephen Barkan</span></span>.
            </a>
        </h1>

        <nav class="mt-12 max-w-headline">
            See <a id="portfolio" href="#"
               class="no-underline group focus:outline-none">
                <span class="text-purple-100 btn large"><span class="text-purple-500">his design
                        portfolio</span></span>,
            </a>
            read things <a id="about" href="#"
               class="no-underline group focus:outline-none">
                <span class="text-yellow-100 btn large"><span class="text-yellow-500">about him</span></span>,
            </a>
            listen to <a id="music" href="#"
               class="no-underline group focus:outline-none">
                <span class="text-green-100 btn large"><span class="text-green-500">music he wrote</span></span>,
            </a>
            or send him <a id="contact" href="#"
               class="no-underline group focus:outline-none">
                <span class="text-blue-100 btn large"><span class="text-blue-500">a message</span></span>.
            </a>
        </nav>
    </div>



    {# window wrapper #}
    <div class="fixed z-10 items-center justify-center p-1 pointer-events-none windows-container">

        {{ me.windowFrame( 'me', 'red', false, ig_images) }}
        {{ music.windowFrame( 'music', 'green', true, songs) }}
        {{ about.windowFrame( 'about', 'yellow', false, notes) }}
        {{ contact.windowFrame( 'contact', 'blue', false) }}
        {{ portfolio.windowFrame( 'portfolio', 'purple', false, posts) }}

    </div>

    {% include "components/footer.njk" %}

    <div class="fixed bottom-0 right-0 hidden p-6 sm:block">
        <button
                class="block px-3 py-2 text-xs tracking-wider uppercase transition duration-150 transform translate-y-8 border rounded opacity-0 ease-smooth border-grey-300 text-grey-700 hocus:bg-black hocus:text-white hocus:border-black focus:outline-none close-all">
            Close All
        </button>
    </div>

    <div class="fixed inset-0 transition-all duration-1000 fade-overlay bg-neutral-100"></div>

    <div
         class="fixed inset-0 items-center justify-center p-4 font-serif text-5xl leading-snug text-center text-white bg-black border-8 md:text-6xl border-neutral-100 rotate-pls">
        Please rotate your phone!
    </div>

</main>