---
layout: default
meta_title: Home
meta_description: The Personal Site of Stephen barkan
body_class: home
title: Home
---
{% set ig_images = ig_images %}
{% set posts = collections.blog %}
{% set notes = collections.note %}
{% set songs = playlist %}
{% import "windows/window-me.njk" as me %}
{% import "windows/window-music.njk" as music %}
{% import "windows/window-about.njk" as about %}
{% import "windows/window-portfolio.njk" as portfolio %}
{% import "windows/window-contact.njk" as contact %}

<main id="main" class="relative flex flex-col items-center justify-between w-full min-h-full sm:justify-center">
    {# text content #}
    <div class="flex flex-col items-center px-6 py-16 text-4xl leading-tight sm:text-6xl serif">
        <h1 class="max-w-headline">
            This is the personal site of
            <a id="me" href="#" class="text-black no-underline group focus:outline-none">
                <span class="text-red-500 group-hocus:underline">Stephen Barkan</span>.
            </a>
        </h1>

        <nav class="mt-12 max-w-headline">
            See <a id="portfolio" href="#"
               class="text-black no-underline group focus:outline-none">
                <span class="text-purple-500 group-hocus:underline">his design portfolio</span>,
            </a>
            read more <a id="about" href="#"
               class="text-black no-underline group focus:outline-none">
                <span class="text-yellow-500 group-hocus:underline"> about him</span>,
            </a>
            listen to <a id="music" href="#"
               class="text-black no-underline group focus:outline-none">
                <span class="text-green-500 group-hocus:underline">music he wrote</span>,
            </a>
            or send him <a id="contact" href="#"
               class="text-black no-underline group focus:outline-none">
                <span class="text-blue-500 group-hocus:underline">a message</span>.
            </a>
        </nav>
    </div>



    {# window wrapper #}
    <div class="fixed items-center justify-center p-1 pointer-events-none windows-container">

        {{ me.windowFrame( 'me', 'red', false, ig_images) }}
        {{ music.windowFrame( 'music', 'green', true, songs) }}
        {{ about.windowFrame( 'about', 'yellow', false, notes) }}
        {{ contact.windowFrame( 'contact', 'blue', false) }}
        {{ portfolio.windowFrame( 'portfolio', 'purple', false, posts) }}

    </div>

    {% include "components/footer.njk" %}

    <div class="fixed bottom-0 right-0 hidden p-6 sm:block">
        <button
                class="block px-3 py-3 text-xs tracking-wider uppercase border border-grey-600 text-grey-700 hover:bg-black hover:text-white hover:border-black focus:outline-none focus:text-white focus:border-black focus:bg-black close-all transition">
            Close All
        </button>
    </div>

    <div class="fixed inset-0 fade-overlay bg-neutral-100"></div>

    <div
         class="fixed inset-0 items-center justify-center p-4 font-serif text-5xl leading-snug text-center text-white bg-black border-8 md:text-6xl border-neutral-100 rotate-pls">
        Please rotate your phone!
    </div>

</main>