---
layout: default
meta_title: Home
meta_description: The Personal Site of Stephen barkan
body_class: home
title: Home
---
{% set ig_images = ig_images %}
{% set projects = collections.portfolio %}
{% set journals = collections.journal %}
{% set songs = playlist %}

{% import "windows/window-me.njk" as me %}
{% import "windows/window-music.njk" as music %}
{% import "windows/window-journal.njk" as journal %}
{% import "windows/window-portfolio.njk" as portfolio %}
{% import "windows/window-contact.njk" as contact %}


<main id="main" class="relative flex flex-col items-center justify-between w-full min-h-full sm:justify-center">
    {# text content #}
    {# <div class="flex flex-col px-6 py-16 text-3xl leading-tight md:text-4xl lg:text-5xl xl:text-6xl serif"> #}
    <div class="flex flex-col px-6 py-16 leading-tight serif"
         style="font-size:calc(3vw + 21px); font-size: max(2rem, min(5vw, 4rem))">
        <h1 class="max-w-headline">
            This is the personal site of
            <span class="whitespace-no-wrap">
                <a id="me" href="#"
                   class="relative inline-block text-red-500 rounded-sm group hover:underline">
                    <span class="absolute inset-0">
                        {# <span class="bg-red-100 home-link-bg"></span> #}
                    </span>
                    <span class="relative">Stephen Barkan</span>
                </a>
                .</span>
            </span>
        </h1>

        <nav class="mt-12 max-w-headline">
            See <a id="portfolio" href="#"
               class="relative inline-block text-purple-500 rounded-sm group hover:underline">
                <span class="absolute inset-0">
                    {# <span class="bg-purple-100 home-link-bg"></span> #}
                </span>
                <span class="relative">his design portfolio</span>
            </a>
            , read
            <a id="journal" href="#"
               class="relative inline-block text-yellow-500 rounded-sm group hover:underline">
                <span class="absolute inset-0">
                    {# <span class="bg-yellow-100 home-link-bg"></span> #}
                </span>
                <span class="relative">his journal</span>
            </a>
            , listen to
            <a id="music" href="#"
               class="relative inline-block text-green-500 rounded-sm group hover:underline">
                <span class="absolute inset-0">
                    {# <span class="bg-green-100 home-link-bg"></span> #}
                </span>
                <span class="relative">music he wrote</span>
            </a>
            , or send him
            <a id="contact" href="#"
               class="relative inline-block text-blue-500 rounded-sm group hover:underline">
                <span class="absolute inset-0">
                    {# <span class="bg-blue-100 home-link-bg"></span> #}
                </span>
                <span class="relative">a text</span>
            </a>
            .
        </nav>
    </div>



    {# window wrapper #}
    <div class="fixed z-10 items-center justify-center p-1 pointer-events-none windows-container">

        {{ me.windowFrame( 'me', 'red', false, ig_images) }}
        {{ music.windowFrame( 'music', 'green', false, songs) }}
        {{ journal.windowFrame( 'journal', 'yellow', false, journals) }}
        {{ contact.windowFrame( 'contact', 'blue', false) }}
        {{ portfolio.windowFrame( 'portfolio', 'purple', false, projects) }}

    </div>


    {% include "components/project-previews.njk" %}
    {% include "components/footer.njk" %}

    {% include "components/close-all-button.njk" %}



    <div class="fixed inset-0 transition-all duration-1000 fade-overlay bg-neutral"></div>

    <div
         class="fixed inset-0 items-center justify-center p-4 font-serif text-5xl leading-snug text-center text-white bg-black border-8 md:text-6xl border-neutral rotate-pls">
        Please rotate your phone!
    </div>

</main>