<!doctype html>
<html lang="en" class="h-full antialiased">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if meta_title %}{{ meta_title }}{% else %}{{ title }}{% endif %} | {{ site.name }}</title>
    <meta name="description"
          content="{% if meta_description %}{{ meta_description }}{% else %}{{ excerpt }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    {% if page.fileSlug === "blog" %}
    <meta name="robots" content="noindex,follow" />
    {% endif %}

    {# if your site's entire CSS comes in under 14kb, you may want to inline in the head #}
    {# include main.css if in development mode #}
    {% if helpers.environment == "development" %}
    <link rel="stylesheet" href="/css/main.css">
    {% else %}
    {# else, use the minified css file for production #}
    <link rel="stylesheet" href="/css/main.min.css">
    {% endif %}

    {# include scripts #}
    {% if helpers.environment == "development" %}
    <script src="/js/main.js" defer></script>
    {% else %}
    <script src="/js/main.min.js" defer></script>
    {% endif %}

    {# include social meta tags #}
    {% include "components/social-meta.njk" %}

    {# lastly include favicon, fonts, etc #}
    <link rel="icon" type="image/png" href="{{ site.images.favicon }}">

    {# canonical #}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
</head>

<body {% if body_class %} id="{{ body_class }}" {% endif %}
      class="flex justify-center min-h-full font-sans leading-normal text-black text-default bg-neutral-100">


    <div id="wrapper" class="relative flex flex-col items-center w-full">
        {{ content | safe }}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>

    {# include scripts #}
    {% if helpers.environment == "development" %}
    <script src="/javascript/main.js"></script>
    {% else %}
    <script src="/javascript/main.min.js"></script>
    {% endif %}


</body>

</html>