---
---
<h3 class="max-w-md mx-auto font-serif text-3xl leading-none text-center text-black-900 tracking-snug md:text-4xl">
  {{title}}</h3>
<div class="w-10 mx-auto mt-4 border-b border-grey-300"></div>
<div class="mt-4 sm:mx-8 text-grey-900 markdown" id="journal-content">
  {{ content | safe }}
</div>