---
---
<h3 class="max-w-md mx-auto font-serif text-2xl leading-tight text-center md:text-3xl">
  {{title}}</h3>
<div class="mt-4 sm:mx-8 text-grey-900 markdown" id="journal-content">
  {{ content | safe }}
</div>