---
---
{# <div class="relative max-w-xs">
  <img class="max-h-64 sm:max-h-full" src="images/portfolio/{{img}}" alt="">
  <div class="shadow-border"></div>

</div> #}

<div class="mx-auto">
  <div class="flex leading-none tracking-wide uppercase blockfont-mono text-xxs text-grey-700">
    <span class="mr-1">{{title}} • </span>
    <date> {{date | dateDisplay }}</date>
  </div>
  <h2 class="mt-2 font-serif text-2xl leading-snug">{{subtitle}}</h2>
  <p class="max-w-xs mt-6 text-sm text-grey-900">{{excerpt}}</p>

  <a class="relative inline-flex mt-12 text-xs leading-normal transition-colors bg-white rounded-sm smooth-transition hocus:bg-grey-100"
     href="{{link}}" target="_blank" ref="noopener">
    <div class="px-3 py-1 rounded-sm shadow-sm ">See Project</div>
    <div class="shadow-border"></div>
  </a>
</div>