{% macro applet(title, maxWidth, height, data) %}
    <div
        id="{{title}}Applet"
        data-applet="{{title}}"
        @click="setActiveApplet('{{title}}')"
        class="xs:{{maxWidth}} {{height}} h-full flex-1 w-full flex flex-col px-2 pt-2 gap-3 rounded-lg bg-ui-applet-bg overflow-hidden transform xs:flex relative"
        :class="activeApplet === '{{title}}' ? 'xs:shadow-applet-active shadow-applet-idle' :'shadow-applet-idle hidden'">
        <header class="flex justify-center w-full px-2 py-1.5 rounded bg-clr-tint shadow-applet-header">
            <h2 class="text-sm font-medium text-display-secondary">{{title | capitalize}}</h2>
        </header>
        <section class="flex flex-col flex-1 px-1 pt-px overflow-hidden">
            {% block content %}{% endblock %}
        </section>
    </div>
{% endmacro %}
