{% macro applet(title, data) %}
    <div id="{{title}}Applet" data-applet="{{title}}" data-js="applet" class="flex flex-col px-2 pt-2 pb-3 rounded-lg bg-ui-applet-bg shadow-applet-idle">
        <header class="flex justify-center w-full px-2 py-1.5 rounded bg-clr-tint">
            <h2 class="text-sm font-medium text-display-secondary">{{title | capitalize}}</h2>
        </header>
        <main class="flex-1 px-1 overflow-hidden">
            {% block content %}
            {% endblock %}
        </main>
    </div>
{% endmacro %}
