{% set heartIcon %}{% include "icons/heart-fill.svg" %}{% endset %}

{% macro topbarButton(title, featured, onClick, tab=true) %}
    <button
    {% if tab %}
        :class="activeApplet === '{{title}}' && 'bg-ui-divider'"
        @click="activeApplet = '{{title}}'"
    {% else %}
        @click="{{onClick}}"
        :class="open && 'bg-ui-divider'"
    {% endif %}
        class="{% if featured %}font-medium text-display-primary{% else %}text-display-secondary{% endif %}
            text-sm leading-none px-2 capitalize pt-[6px] pb-[7px] rounded-sm hover:bg-ui-divider">
        {{title}}
    </button>
{% endmacro %}

<header class="flex items-center justify-between w-full px-5 py-px bg-ui-topbar-bg shadow-topbar">
    <div class="flex space-x-1">
        <div x-data="{open: false}" class="relative">
            {{topbarButton(title="Stephen Barkan", featured=true, tab=false, onClick="open = !open")}}
            <div x-show="open" @click.away="open = false" x-transition.origin.top class="w-[268px] mt-[3px] divide-y divide-ui-divider bg-ui-applet-bg shadow-applet-active rounded flex flex-col gap-3 py-3 px-4 absolute">
                <p class="text-display-secondary">Thanks for being here! I hope this site brings you some joy.<span class="inline-block relative left-0.5 top-0.5 h-[15px] w-[15px]">{{heartIcon | safe}}</span></p>
                <span class="pt-3 text-display-tertiary">&copy; Stephen Barkan 2021</span>
            </div>
        </div>
        <nav class="flex space-x-1">
            {{topbarButton(title="photos")}}
            {{topbarButton(title="design")}}
            {{topbarButton(title="posts")}}
            {{topbarButton(title="music")}}
            {{topbarButton(title="chat")}}
        </nav>
    </div>
    <div class="hidden md:flex pt-[6px] pb-[7px]">
        <time data-clock class="text-sm leading-none text-display-secondary"></time>
    </div>
</header>
