{% extends "components/appletShell.njk" %}
{% import "components/button.njk" as "btn"%}
{% set postChatArrow %}{% include "icons/post-chat-arrow.svg" %}{% endset %}


{% block content %}
    <div class="flex flex-col flex-1 gap-3 px-3 pb-3 overflow-auto">
        {# conversation section #}
        <div class="flex-1">
            {{chatBubble(typingDots=false, content="test", sentByUser=false)}}
            {{chatBubble(typingDots=false, content="testing", sentByUser=true)}}
            {{chatBubble(typingDots=true, content="", sentByUser=false)}}
        </div>

        {# form section #}
        <form class="flex flex-col gap-3">
            <div class="divider"></div>
            <div class="flex rounded bg-clr-highlight focus-within:ring">
                <input type="text" class="flex-1 py-2 pl-3 pr-1.5 bg-transparent outline-none placeholder:text-display-tertiary" placeholder="Your text">
                <button type="button" class="pr-3 pl-1.5 py-2 group outline-none">
                    <div class="flex items-center justify-center w-5 h-5 rounded-full group-hover:bg-btn-highlight-bg-hover group-focus:ring bg-clr-solid"><span class="block h-15 w-15 text-display-inverse-primary">{{ postChatArrow | safe }}</span></div>
                </button>
            </div>
        </form>
    </div>

{% endblock %}



{% macro chatBubble(content, typingDots, sentByUser, id) %}

    <div class="flex {% if sentByUser === false %} pr-6 {% else %} justify-end pl-6 {% endif %}">
        <div class="flex items-center px-3 py-2 min-h-[37px] rounded-xl
            {% if sentByUser === false %} bg-clr-highlight text-display-secondary {% else %} bg-clr-solid text-display-inverse-primary {% endif %}
            {% if typingDots === false %} animate-receive-message {% else %} animate-clear-typing-bubble {% endif %}
            ">
            {% if typingDots === true %}
                <div class="flex gap-1.5">
                    {% for i in [1, 2, 3] %}<div class="block w-1.5 h-1.5 bg-display-tertiary rounded-full animate-typing-dots" style="animation-delay: calc(-.33s * {{i}})"></div>{% endfor %}
                </div>
            {% else %}
                {{content}}
            {% endif %}
        </div>
    </div>

{% endmacro %}

<template>

</template>
