{% extends "components/appletShell.njk" %}
{% import "components/button.njk" as "btn"%}
{% set postChatArrow %}{% include "icons/post-chat-arrow.svg" %}{% endset %}


{% block content %}
    <div
        x-data="{ colors: [
            { id: 1, typingDots: false, content: 'testin', sentByUser: true },
            { id: 2, typingDots: false, content: 'obsessin', sentByUser: false },
            { id: 3, typingDots: true, content: 'testin', sentByUser: false }
        ]}"
        class="flex flex-col flex-1 gap-3 px-3 pb-3 overflow-auto">
        {# conversation section #}
        <div class="flex flex-col flex-1 gap-3">
            <template x-for="color in colors" :key="color.id">
                    <div
                    :class="color.sentByUser === false ? 'pr-6' : ' justify-end pl-6 '"
                    class="flex">
                        <div
                            :class="{'bg-clr-solid text-display-inverse-primary': color.sentByUser,
                                     'bg-clr-highlight text-display-secondary': !color.sentByUser,
                                     'animate-clear-typing-bubble': color.typingDots,
                                     'animate-receive-message': !color.typingDots}"
                                class="flex items-center px-3 py-2 min-h-[37px] rounded-xl">
                                <div x-show="color.typingDots" class="flex gap-1.5">
                                    {% for i in [1, 2, 3] %}<div class="block w-1.5 h-1.5 bg-display-tertiary rounded-full animate-typing-dots" style="animation-delay: calc(-.33s * {{i}})"></div>{% endfor %}
                                </div>
                                <span x-show="!color.typingDots" x-text="color.content"></span>
                        </div>
                    </div>
            </template>
        </div>

        {# form section #}
        <form class="flex flex-col gap-3">
            <div class="divider"></div>
            <div class="flex rounded bg-clr-highlight focus-within:ring">
                <input type="text" class="flex-1 py-2 pl-3 pr-1.5 bg-transparent outline-none placeholder:text-display-tertiary" placeholder="Your text">
                <button type="button" class="pr-3 pl-1.5 py-2 group outline-none">
                    <div class="flex items-center justify-center w-[22px] h-[22px] rounded-full group-hover:bg-btn-highlight-bg-hover group-focus:ring bg-clr-solid"><span class="block h-15 w-15 text-display-inverse-primary">{{ postChatArrow | safe }}</span></div>
                </button>
            </div>
        </form>


        {# confirm send dialog #}
        <template>
            <div class="absolute inset-0 flex items-center justify-center rounded-sm bg-ui-shade backdrop-blur">
                <div class="p-4">
                    <div class="flex flex-col gap-8 p-6 pt-8 rounded bg-ui-applet-bg shadow-applet-header">
                        <header class="flex flex-col justify-center gap-4">
                            <h3 class="text-lg text-center">Ready to send?</h3>
                            <p class="text-center">You can modify any of your messages by hovering on them and clicking the edit button.</p>
                        </header>
                        <main class="flex flex-col items-stretch gap-2">
                            {{btn.button(label="Submit", highlighted=true, as="button", onClick="")}}
                            {{btn.button(label="Cancel", highlighted=false, as="button", onClick="")}}
                        </main>
                    </div>
                </div>
            </div>
        </template>
    </div>


{% endblock %}



{% macro chatBubble(content, typingDots, sentByUser, id) %}

    <div class="flex {% if sentByUser === false %} pr-6 {% else %} justify-end pl-6 {% endif %}">
        <div class="flex items-center px-3 py-2 min-h-[37px] rounded-xl
            {% if sentByUser === false %} bg-clr-highlight text-display-secondary {% else %} bg-clr-solid text-display-inverse-primary {% endif %}
            {% if typingDots === false %} animate-receive-message {% else %} animate-clear-typing-bubble {% endif %}
            ">
            {% if typingDots === true %}
                <div class="flex gap-1.5">
                    {% for i in [1, 2, 3] %}<div class="block w-1.5 h-1.5 bg-display-tertiary rounded-full animate-typing-dots" style="animation-delay: calc(-.33s * {{i}})"></div>{% endfor %}
                </div>
            {% else %}
                {{content}}
            {% endif %}
        </div>
    </div>

{% endmacro %}

<template>

</template>
