{% extends "components/appletShell.njk" %}
{% import "components/button.njk" as "btn"%}




{% block content %}
<div class="flex gap-3 overflow-hidden">
    {# folders #}
    <div
        x-data="{openDesign: 1}"
        class="flex flex-col gap-3 px-px pb-6 overflow-auto xs:min-w-[280px]">
            {% for design in designFolders %}
                {{designListItem(title=design.title, date=design.date, index=loop.index, type=design.type)}}
            {% endfor %}
    </div>
    <div class="divider vertical"></div>
    {# subfolders #}
    <div
        x-data="{openDesign: 0}"
        class="flex flex-col gap-3 px-px pb-6 overflow-auto">
            {% for design in collections.design %}
                {{designListItem(title=design.data.title, date=design.data.publishDate, index=loop.index, type=design.data.type)}}
            {% endfor %}
    </div>
    <div class="divider vertical"></div>
</div>
{% endblock %}

{% macro designListItem(title, date, class, onClick, type, index) %}
    {% set icon %}
        {% if type === "website" %}{% include "icons/website.svg" %}{% endif %}
        {% if type === "game" %}{% include "icons/dice.svg" %}{% endif %}
        {% if type === "plugin" %}{% include "icons/plugin.svg" %}{% endif %}
        {% if type === "fun" %}{% include "icons/mix.svg" %}{% endif %}
        {% if type === "work" %}{% include "icons/briefcase.svg" %}{% endif %}
        {% if type === "volunteer" %}{% include "icons/rocket.svg" %}{% endif %}
    {% endset %}

    <button
        @click="openDesign = {{index}}"
        :class="{ 'bg-clr-highlight shadow-list-inset': openDesign === {{index}} }"
        class="{{class}} text-left group block rounded pb-2.5 pt-2 pr-2 pl-3 hover:bg-clr-highlight active:shadow-list-inset">
        <div
            :class="openDesign === {{index}} && 'translate-y-px'"
            class="flex gap-3 transition transform group-active:translate-y-px">
            <div
                :class="openDesign === {{index}} ? 'text-clr-solid' : 'text-display-tertiary'"
                class="self-center w-5 h-5">{{icon | safe }}</div>
            <div class="divider vertical"></div>
            <div class="flex-1 space-y-1.5 overflow-hidden flex-1">
                <p
                    :class="openDesign === {{index}} ? 'text-display-primary' : 'group-active:text-display-primary text-display-secondary'"
                    class="truncate">
                    {{title}}
                </p>
                <time class="block text-sm text-display-tertiary">{{date}}</time>
            </div>
        </div>
    </button>
{% endmacro %}
