{% extends "components/appletShell.njk" %}
{% import "components/button.njk" as "btn"%}
{% set heartIcon %}
    <div class="grid grid-cols-1 grid-rows-1">
        <span
            x-transition:enter="transition transform ease-in duration-200 delay-150"
            x-transition:enter-start="opacity-0 scale-75"
            x-transition:enter-end="opacity-100 scale-100"
            x-transition:leave="transition ease-out duration-300 transform"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="scale-125 opacity-0"
            class="block col-span-1 col-start-1 row-start-1" x-show="!liked">{% include "icons/heart-outline.svg" %}</span>
        <span
            x-transition:enter="transition transform ease-in duration-200 delay-150"
            x-transition:enter-start="opacity-0 scale-125"
            x-transition:enter-end="opacity-100 scale-100"
            x-transition:leave="transition ease-out duration-300 transform"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="scale-75 opacity-0"
            class="block col-span-1 col-start-1 row-start-1" x-show="liked">{% include "icons/heart-fill.svg" %}</span>
    </div>
{% endset %}

{% set label %}
    <div class="grid grid-cols-1 grid-rows-1">
        <span class="col-start-1 row-start-1" :class="liked && 'invisible'">0 Likes</span>
        <span class="col-start-1 row-start-1" :class="!liked && 'invisible'">1 Like!</span>
    </div>
{% endset %}



{% block content %}
    <div x-data="{liked: false}">{{btn.button(label=label, icon=heartIcon, as="button", onClick="liked = !liked")}}</div>
{% endblock %}
