{% extends "components/appletShell.njk" %}

{% block content %}
    <div class="flex flex-1 divide-x divide-ui-divider">
        <aside class="w-48 pr-3 space-y-1 overflow-auto divide-y divide-ui-divider">
            {% for post in data %}
                {% if post.data.featured == true %}
                    {{ postLink(post.data.title, post.data.date, true) }}
                {% endif %}
            {% endfor %}
            <ul class="pt-1">
            {% for post in data %}
                {% if post.data.featured !== true %}
                    {{ postLink(post.data.title, post.data.date, false) }}
                {% endif %}
            {% endfor %}
            </ul>
        </aside>
        <main class="flex-1 px-12 py-6 overflow-auto">
            <article class="">

            </article>
        </main>
    </div>
{% endblock %}


{% macro postLink(title, date, isPinned, class) %}
    <a href="#" class="{{class}}block flex rounded pb-2.5 pt-2 space-x-3 pr-2 pl-2.5 hover:bg-clr-highlight">
        <div class="space-y-1.5 overflow-hidden flex-1">
            <p class="truncate text-display-secondary">{{title}}</p>
            <time class="block text-sm text-display-tertiary">{{date | dateDisplay}}</time>
        </div>
        {% if (isPinned) %}
            <div class="flex-shrink-0 pt-0.5 text-clr-solid">{% include "icons/pin-fill.svg" %}</div>
        {% endif %}
    </a>
{% endmacro %}
