{% extends "components/window.njk" %}

{% block content %}

<div class="relative flex flex-1 overflow-x-hidden overflow-y-auto">
    <div id="about-note-sidebar"
         class="absolute inset-y-0 left-0 z-20 flex-shrink-0 w-64 transition-transform duration-300 transform -translate-x-full border-r ease-smooth sm:w-44 w bg-grey-100 border-grey-300 sm:relative">
        <ul class="h-full overflow-y-auto">
            {% for note in data %}
            <li class="border-b border-grey-300">
                <a href="#" title="{{note.data.title}}"
                   class="block py-4 pl-4 pr-2 transition-colors smooth-transition hocus:bg-white ease-smooth about-note-link"
                   data-note="{{note.outputPath | replace("dist/", "")}}">
                    <h4 class="font-medium truncate">
                        {{ note.data.title }}
                    </h4>

                    <date class="block mt-1 font-mono leading-none tracking-wide uppercase text-xxs text-grey-700">
                        {{ note.data.date | dateDisplay }}
                        {% if note.data.enddate %}
                        - {{ note.data.enddate | dateDisplay }}
                        {% endif %}
                    </date>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="flex flex-col flex-grow">
        <div class="sticky top-0 z-10 px-4 pt-3 pb-3 bg-white border-b sm:hidden border-grey-300">
            <button id="about-note-open"
                    class="flex items-center text-yellow-100 btn">
                <svg class="flex-shrink-0 block w-4 h-4 text-yellow-700" role="button"
                     aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="/images/icons/icon-library.svg#icon-notes-right"></use>
                </svg>
                <span class="ml-1 leading-snug text-yellow-800">Journal Entries</span>
            </button>
        </div>
        <div class="pb-6 overflow-y-auto note-area">
            <button id="about-note-close" class="absolute inset-y-0 z-10 invisible w-full cursor-default"></button>

            <article class="max-w-xl px-4 py-10 mx-auto xs:px-6 about-note"></article>
        </div>
    </div>
</div>
{% endblock %}