{% extends "components/window.njk" %}

{% block content %}

<div class="flex-1 overflow-y-auto">
  <div id="chat-window" class="flex flex-col flex-1 h-full">
    <div id="chat-messages"
         class="relative flex flex-col items-start flex-grow p-3 pb-0 overflow-y-auto border-b border-grey-200">

    </div>
    <div id="chat-controls" class="py-3 pl-3 pr-2 bg-white">
      <form name="contact-form" id="contact-form" class="flex items-end" netlify>
        <p id="form-input-name" class="flex-grow">
          <label class="grid w-full rounded-lg input-sizer hover:shadow-inset bg-grey-100"><span
                  class="sr-only">Your Name</span>
            <textarea class="w-full h-10 px-3 py-1 leading-loose transition-colors bg-transparent border border-transparent rounded-lg resize-none text-grey-800 smooth-transition ease-smooth"
                      name="yourName"
                      id="yourName"
                      placeholder="Your name"
                      oninput="this.parentNode.dataset.value = this.value"
                      rows="1"></textarea>
          </label>
        </p>
        <p id="form-input-message" class="flex-grow">
          <label class="grid w-full rounded-lg input-sizer hover:shadow-inset bg-grey-100"><span class="sr-only">Your
              Message</span>
            <textarea class="w-full h-10 px-3 py-1 leading-loose transition-colors bg-transparent border border-transparent rounded-lg resize-none text-grey-800 smooth-transition ease-smooth"
                      name="yourMessage"
                      id="yourMessage"
                      placeholder="Your Text"
                      oninput="this.parentNode.dataset.value = this.value"
                      rows="1"></textarea>
          </label>
        </p>
        <p id="form-input-email" class="flex-grow">
          <label class="grid w-full rounded-lg input-sizer hover:shadow-inset bg-grey-100"><span class="sr-only">Your
              Email</span>
            <textarea class="w-full h-10 px-3 py-1 leading-loose transition-colors bg-transparent border border-transparent rounded-lg resize-none text-grey-800 smooth-transition ease-smooth"
                      name="yourEmail"
                      id="yourEmail"
                      placeholder="Your e-mail"
                      oninput="this.parentNode.dataset.value = this.value"
                      rows="1"></textarea>
          </label>
        </p>
        <p id="form-input-empty" class="flex-grow">
          <label class="grid w-full rounded-full input-sizer hover:shadow-inset bg-grey-100">
            <textarea class="w-full h-10 px-3 py-1 leading-loose transition-colors bg-transparent border border-transparent rounded-lg resize-none text-grey-800 smooth-transition ease-smooth"
                      name="empty"
                      id="empty"
                      oninput="this.parentNode.dataset.value = this.value"
                      rows="1"></textarea>
          </label>
        </p>
        <p class="flex-shrink-0 ml-2 disabled" id="next-button-wrapper">
          <label class="flex"><span class="sr-only">Send Text</span>
            <button
                    class="flex items-center justify-center w-10 h-10 transition-colors rounded-full smooth-transition group hocus:bg-blue-100"
                    type="button"
                    name="nextButton"
                    id="nextButton">
              <svg class="block w-6 h-6 transition-colors duration-300 ease-smooth text-grey-300"
                   fill="currentColor"
                   aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                     xlink:href="/images/icons/icon-library.svg#contact-send-icon">
                </use>
              </svg>
            </button>
          </label>
        </p>
      </form>
    </div>
  </div>
</div>

<template id="confirmModal">
  <div>
    <div class="relative mx-2 text-center bg-white border rounded-sm border-grey-200">
      <div class="relative p-3 border-b border-grey-200">
        <h2 class="font-serif text-xl leading-tight">Submit Form?</h2>
      </div>

      <div class="px-3 py-8">
        <p class="text-sm leading-loose">If needed, you can edit any of your messages above by clicking the pencil icon
          on each
          blue bubble.
        </p>
      </div>

      <div class="flex">
        <button id="formClear"
                class="flex-1 px-2 py-3 text-xs tracking-wide transition-colors border-t border-r smooth-transition ease-smooth border-grey-200 text-grey-600 hocus:bg-grey-100 hocus:text-red-500">
          Clear Form
        </button>
        <button id="formSubmit"
                class="flex-1 px-2 py-3 text-xs tracking-wide text-blue-500 transition-colors border-t smooth-transition ease-smooth border-grey-200 hocus:bg-blue-100">
          Submit Form
        </button>
      </div>
    </div>
  </div>
</template>
{% endblock %}