{% extends "components/window.njk" %}

{% block content %}
<div class="overflow-y-auto">
    <div class="p-4">
        <div class="relative overflow-hidden">
            <div class="relative pb-full ig-slider">
                {% for obj in data %}
                <div class="absolute w-full h-full ig-image">
                    <img class="absolute object-cover w-full h-full" src="/images/instagram/{{obj.src}}"
                         alt="{{obj.alt}}">
                </div>
                {% endfor %}
            </div>
            <div class="absolute inset-0 flex items-center justify-between px-2">
                <a href="#" class="block text-white ig-left"
                   aria-label="{{ icon | capitalize }}">
                    <span class="sr-only">Previous Image</span>
                    <svg class="block w-8 h-8" fill="currentColor" role="button" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="/images/icons/icon-library.svg#icon-ig-left"></use>
                    </svg>
                </a>

                <a href="#" class="block text-white ig-right"
                   aria-label="{{ icon | capitalize }}">
                    <span class="sr-only">Next Image</span>
                    <svg class="block w-8 h-8" fill="currentColor" role="button" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="/images/icons/icon-library.svg#icon-ig-right"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="relative flex items-center mt-3 -ml-1 -mr-1">
            <a class="ig-heart" href="#"
               aria-label="like button">

                <svg class="w-8 h-8" role="img" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="/images/icons/icon-library.svg#icon-heart">
                    </use>
                </svg>

            </a>
            <span class="ml-1 leading-none ig-heart-text text-grey-900">0 Likes</span>

            <div class="absolute inset-x-0 inset-y-0 flex items-center justify-center pointer-events-none">
                {% for obj in data %}
                <div class="w-2 h-2 rounded-full bg-grey-200 ml-1-5 first:ml-0 ig-dot"></div>
                {% endfor %}
            </div>
        </div>

        <div class="mt-3">
            <p class="leading-snug text-grey-900">
                <span class="font-medium text-black">stephen_barkan </span>
                {% for obj in data %}
                <span class="ig-caption">{{obj.caption}}</span>
                {% endfor %}
            </p>
            <date class="block mt-2 text-xs leading-none tracking-wider uppercase text-grey-600">
                {% for obj in data %}
                <span class="ig-date">{{obj.date}}</span>
                {% endfor %}
            </date>
        </div>
    </div>
</div>
{% endblock %}