{% extends "components/window.njk" %}

{% block content %}
    <div class="overflow-y-auto">
        <div class="p-4">
            <div class="relative overflow-hidden">
                <div class="relative transition-transform duration-500 pb-full ig-slider ease-smooth">
                    {% for obj in data %}
                        <div class="absolute w-full h-full ig-image">
                            <img class="absolute object-cover w-full h-full" src="/images/instagram/{{obj.src}}"
                         alt="{{obj.alt}}">

                        </div>
                    {% endfor %}

                </div>
                <div class="absolute inset-0 flex items-center justify-between px-2">
                    <a href="#"
                   class="block text-white transition-transform transform rounded-full ig-left smooth-transition"
                   aria-label="{{ icon | capitalize }}" title="Previous image">
                        <span class="sr-only">Previous Image</span>
                        <span class="sr-only">Next Image</span>
                        <div class="w-8 h-8 text-always-white">
                            {% include "icons/carousel-left.svg" %}
                        </div>
                    </a>

                    <a href="#"
                   class="block text-white transition-transform transform rounded-full ig-right smooth-transition"
                   aria-label="{{ icon | capitalize }}" title="Next image">
                        <span class="sr-only">Next Image</span>
                        <div class="w-8 h-8 text-always-white">
                            {% include "icons/carousel-right.svg" %}
                        </div>
                    </a>
                </div>
                <div class="shadow-border"></div>
            </div>

            <div class="relative flex items-center mt-3">
                <a class="flex items-center p-1 -m-1 text-red-100 rounded group btn ig-heart-btn"
               href="#"
               title="Like pictures"
               aria-label="like button">
                    <div class="ig-heart">
                        <svg class="w-4 h-4 stroke-current text-grey-600 group-hocus:text-grey-800" role="img" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="/images/icons/icon-library.svg#icon-heart"></use>
                        </svg>
                    </div>

                    <span class="ml-2 font-mono leading-none tracking-wide uppercase text-xxs text-grey-800 ig-heart-text group-hocus:text-grey-900">0
                    Likes</span>
                </a>
                <div class="absolute inset-x-0 inset-y-0 flex items-center justify-center pointer-events-none">
                    {% for obj in data %}
                        <div class="w-2 h-2 transition-colors duration-300 rounded-full bg-grey-300 ml-1-5 first:ml-0 ig-dot ease-smooth"></div>
                    {% endfor %}
                </div>
            </div>

            <div class="mt-3">
                <p class="text-sm leading-loose text-grey-900 ig-caption-container">
                    <span class="font-medium text-black">stephen_barkan </span>
                    {% for obj in data %}
                        <span class="ig-caption">{{obj.caption}}</span>
                    {% endfor %}
                </p>
                <date class="block mt-2 font-mono leading-none tracking-wide uppercase text-xxs text-grey-700">
                    {% for obj in data %}
                        <span class="ig-date">{{obj.date  | dateDisplay }}</span>
                    {% endfor %}
                </date>
            </div>
        </div>
    </div>
{% endblock %}
