{% extends "components/window.njk" %}

{% block content %}

<div class="flex-1 overflow-y-auto">
  <div id="chat-window" class="flex flex-col flex-1 h-full">
    <div id="chat-messages"
         class="relative flex flex-col items-start flex-grow p-3 pb-0 overflow-y-auto border-b border-grey-200">

    </div>
    <div id="chat-controls" class="py-3 pl-3 pr-2 bg-white">
      <form name="contact-form" id="contact-form" class="flex items-end" netlify method="post">
        <p id="form-input-name" class="flex-grow">
          <label
                 class="grid w-full transition rounded-lg input-sizer hover:shadow-inset bg-black-100 smooth-transition"><span
                  class="sr-only">Your Name</span>
            <textarea class="w-full h-10 px-3 py-1 leading-loose transition bg-transparent border border-transparent resize-none text-grey-800 "
                      name="yourName"
                      id="yourName"
                      placeholder="Your name"
                      oninput="this.parentNode.dataset.value = this.value"
                      rows="1"></textarea>
          </label>
        </p>
        <p id="form-input-message" class="flex-grow">
          <label
                 class="grid w-full transition rounded-lg input-sizer hover:shadow-inset bg-black-100 smooth-transition"><span
                  class="sr-only">Your
              Message</span>
            <textarea class="w-full h-10 px-3 py-1 leading-loose transition bg-transparent border border-transparent resize-none text-grey-800 "
                      name="yourMessage"
                      id="yourMessage"
                      placeholder="Your Text"
                      oninput="this.parentNode.dataset.value = this.value"
                      rows="1"></textarea>
          </label>
        </p>
        <p id="form-input-email" class="flex-grow">
          <label
                 class="grid w-full transition rounded-lg input-sizer hover:shadow-inset bg-black-100 smooth-transition"><span
                  class="sr-only">Your
              Email</span>
            <textarea class="w-full h-10 px-3 py-1 leading-loose bg-transparent border border-transparent resize-none text-grey-800"
                      name="yourEmail"
                      id="yourEmail"
                      placeholder="Your e-mail"
                      oninput="this.parentNode.dataset.value = this.value"
                      rows="1"></textarea>
          </label>
        </p>
        <p id="form-input-empty" class="flex-grow">
          <label
                 class="grid w-full transition rounded-lg input-sizer hover:shadow-inset bg-black-100 smooth-transition">
            <textarea class="w-full h-10 px-3 py-1 leading-loose bg-transparent border border-transparent resize-none text-grey-800"
                      disabled="true"
                      name="empty"
                      id="empty"
                      oninput="this.parentNode.dataset.value = this.value"
                      rows="1"></textarea>
          </label>
        </p>
        <p class="flex-shrink-0 ml-2 disabled" id="next-button-wrapper">
          <label class="flex"><span class="sr-only">Send Text</span>
            <button
                    class="flex items-center justify-center w-10 h-10 transition rounded-lg smooth-transition group hocus:bg-blue-100"
                    type="button"
                    name="nextButton"
                    id="nextButton">
              <svg class="block w-6 h-6 transition duration-300 ease-smooth text-grey-300"
                   fill="currentColor"
                   aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                     xlink:href="/images/icons/icon-library.svg#contact-send-icon">
                </use>
              </svg>
            </button>
          </label>
        </p>
      </form>
    </div>
  </div>
</div>

<template id="confirmModal">
  <div>
    <div class="relative px-6 pt-12 pb-6 mx-6 overflow-hidden text-center transition-opacity duration-700 bg-blue-100 rounded-lg ease-smooth"
         id="confirmBox">


      <div class="mb-8">
        <svg class="block w-12 h-12 mx-auto text-blue-500" fill="currentColor" role="presentation" aria-hidden="true"
             viewBox="0 0 24 24">
          <path fill="currentColor" fill-rule="evenodd"
                d="M22.727 1.314a.996.996 0 00-1.079-.25L1.67 8.055a1 1 0 00-.076 1.858l8.648 3.844 3.844 8.648a1 1 0 001.858-.076l6.993-19.979a1.002 1.002 0 00-.21-1.037zM18.194 4.39L4.711 9.111l6.067 2.696 7.416-7.416zm-6.001 8.83l7.415-7.415-4.719 13.483-2.696-6.068z"
                clip-rule="evenodd" />
        </svg>
      </div>

      <div class="mb-6">
        <h2 class="mb-3 font-serif text-xl leading-tight">Ready to send?</h2>
        <p class="text-sm leading-loose text-black-600">If needed, you can modify your messages by hovering on
          each bubble and
          clicking the edit button.</p>
      </div>

      <div class="flex justify-center px-4">
        <button id="formSubmit"
                class="relative block px-4 py-2 text-xs transition-colors bg-white rounded-sm shadow-sm hocus:bg-grey-100 smooth-transition focus:shadow-outline">
          Send my message!
          <div class="shadow-border"></div>
        </button>
      </div>
    </div>
  </div>
</template>
{% endblock %}