{% extends "components/window.njk" %}

{% block content %}

    <div class="relative flex flex-1 overflow-x-hidden overflow-y-auto">
        <div id="journal-sidebar"
            class="absolute inset-y-0 left-0 z-20 flex-shrink-0 w-64 transition-transform duration-300 transform -translate-x-full border-r ease-smooth sm:w-44 border-grey-200 sm:relative">
            <ul class="h-full overflow-y-auto">
                {% for note in data %}
                    <li class="px-2">
                        <a href="{{note.outputPath | replace("dist/journal/", "?journal=") | replace("/index.html", "")}}"
                   title="{{note.data.title}}"
                   class="flex flex-1 py-1 transition-colors border-b border-grey-200 focus:z-10 smooth-transition group journal-link">
                            <div class="flex flex-col flex-1 px-2 pt-2 pb-3 -mx-1 transition-colors rounded focus:bg-yellow-100 group-hover:bg-yellow-100 smooth-transition">
                                <h4 class="text-sm truncate group-hocus:text-grey-800 text-grey-600 smooth-transition">
                                    {{ note.data.title }}
                                </h4>
                                <date class="block mt-1 font-mono leading-none tracking-wide uppercase text-xxs text-black-600">
                                    {{ note.data.date | dateDisplay }}
                                    {% if note.data.enddate %}
                            - {{ note.data.enddate | dateDisplay }}
                                    {% endif %}
                                </date>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="flex flex-col flex-grow">
            <div class="sticky top-0 z-10 px-4 pt-3 pb-3 bg-white border-b sm:hidden border-grey-200">
                <button id="journal-open"
                    class="flex items-center p-1 -m-1 text-yellow-100 transition-colors rounded btn smooth-transition">

                    <svg class="flex-shrink-0 block w-4 h-4 text-grey-800" role="button"
                     aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="/images/icons/icon-library.svg#icon-notes-right"></use>
                    </svg>
                    <span
                      class="ml-2 font-mono leading-none tracking-wide uppercase text-xxs text-grey-900 ig-heart-text">Journal
                    Entries</span>
                </button>
            </div>
            <div class="flex-1 overflow-y-auto note-area">
                <button id="journal-close" class="absolute inset-y-0 z-10 invisible w-full cursor-default"></button>

                <article class="relative max-w-xl min-h-full px-4 py-10 mx-auto xs:px-6 journal">
                    <div
                     class="absolute flex flex-col items-center w-48 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                        <div class="p-4 mb-6 bg-yellow-100 rounded-full">
                            <svg class="block w-8 h-8 text-yellow-500" fill="currentColor" role="presentation"
                             aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="/images/icons/icon-library.svg#journal-empty-state"></use>
                            </svg>
                        </div>
                        <h3 class="font-mono leading-loose tracking-wide text-center uppercase text-xxs text-grey-700">Select an entry in the sidebar to read</h3>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
