.btn {
  @apply relative;

  &::before {
    content: "";
    @apply absolute opacity-0 transform transition scale-95;
    top: -0.0625rem;
    bottom: -0.0625rem;
    left: -0.25rem;
    right: -0.25rem;
    background: currentColor;
    z-index: -1;
    border-radius: inherit;
  }

  &:hover::before {
    @apply opacity-100 scale-100;
  }

  &.circle {
    &::before {
      top: -0.25rem;
      bottom: -0.25rem;
    }
  }
}

.btn-bg-on::before {
  @apply opacity-100;
}

a:focus .btn {
  &::before {
    @apply opacity-100 scale-100;
  }
}

// .wiggle-hover .wiggle::before,
// .wiggle-hover:hover + .wiggle::before,
// .wiggle-hover.wiggle:hover::before {
//   --px: calc(((var(--pointer-x) - var(--x)) / var(--w)) - 0.5);
//   --py: calc(((var(--pointer-y) - var(--y)) / var(--h)) - 0.5);
//   --transform-translate-x: calc(var(--px) * 7.5%);
//   --transform-translate-y: calc(var(--py) * 7.5%);
// }
